.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/src/assets/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}

